<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta lang="en-us">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <title>Zachet</title>
</head>
<body>

  <div class="container">

  <div class="header">
    <img src="imgs/logo.jpg" alt="superlogo"> 
    <div class="headertext">Бобровые бобры из бобруйска отдыхают на {{ ansible_facts['nodename'] }} </div>
  </div>

    <div class="main">
      <div class="left">
        <div class="content">
          <div><img src="imgs/bobr.jpg" alt="bobr">
            Бурундуки́ (лат. Tamias, от др.-греч. τᾰμίᾱς «заведующий хозяйством»,
            «эконом») — род грызунов из семейства беличьих. К бурундукам относятся
            25 видов, большинство из которых обитает в Северной Америке, за
            исключением одного евразийского вида — азиатского, или сибирского
            бурундука (Tamias sibiricus). 

            Бурундуки распространены почти по всей Северной Америке от полярного
            круга до центральной Мексики. Восточно-американский бурундук (Tamias
            striatus) образует отдельный подрод, который встречается на востоке
            континента. 23 вида из подрода Neotamias обитают в западной части
            Северной Америки.

            Сибирский бурундук обитает в лесной и таёжной зоне Евразии от Северной
            Европы до Корейского полуострова и севера Китая, а также на острове
            Хоккайдо и Сахалине, но вот на Камчатке бурундуков нет. В Центральной
            Европе прижились одичавшие бурундуки, убежавшие из ферм по их
            разведению.

            Основной сферой обитания бурундуков является лесная местность.
            Восточно-американский бурундук населяет лиственные леса Новой Англии,
            сибирский бурундук — тайгу, а малый бурундук (Tamias minimus) —
            субарктические хвойные леса Канады. Некоторые виды приспособились к
            открытым местностям, поросшим кустарниками. 

            В местностях, где посевы расположены около леса или разбросаны
            отдельными кусочками в самом лесу, бурундук является опасным вредителем
            полей. Случалось даже, что бурундуки похищали весь урожай.

            Питается бурундук главным образом растительной пищей, лишь иногда
            примешивая к ней насекомых. Состав его пищи очень разнообразен. Он ест
            семена различных диких растений, почки деревьев и кустарников, их
            молодые побеги, траву, разные ягоды, жёлуди, кедровые и лесные орехи,
            грибы. Около полей и огородов бурундук ещё больше разнообразит свой
            «стол», прибавляя к нему зерна хлебных злаков, гречиху, кукурузу, лён,
            подсолнух, горох, огурцы, сливы, абрикосы, — словом, все, что человек
            неосторожно посадил слишком близко от жилья бурундуков.

            Зимние запасы зверька тоже очень интересно отличаются от запасов других
            зверьков. Кладовые его наполняются самыми разнообразными продуктами:
            тут и пшеница, и овёс, и гречиха, и лен, и подсолнечник, и разные дикие
            семена, и жёлуди, и орехи, и сушёные ягоды, и яблоки, и даже грибы.
            Конечно, все, что здесь перечислено, нельзя найти в одной норе, но
            обычно в каждой кладовой бурундука хранятся очень многие из этих
            продуктов. При этом разные продукты никогда не бывают перемешаны, так
            как зверёк раскладывает их аккуратно отдельными кучками на подстилке из
            сухой травы. Иногда разные виды пищи бывают даже отделены один от
            другого сухими листьями. Количество запасов в норе бурундука, по точным
            данным, доходит до 6 килограммов.

            Бурундуки запасаются едой в течение всего периода, перед спячкой.

            Забравшись в хлеба, бурундук, если посев не слишком густ, выбирает
            соломинку с хорошим колосом и, ухватившись за неё, подскакивает вверх.
            От его тяжести соломинка нагибается, тогда бурундук подвигается по ней,
            держа её между лапками, и таким образом добирается до колоса. Откусив
            его, он в несколько минут выбирает все зерна, прячет их в защёчные
            мешки и убегает. Если посев настолько густ, что наклонить соломинку
            мешают соседние колосья, зверёк подкусывает её снизу по кусочку до тех
            пор, пока не доберётся до колоса. 
          </div>

          <input class="hide" id="hide1" type="checkbox">
          <label for="hide1">Читать дальше</label>
          <div class="show_more">
            <h1>Образ жизни бурундучков</h1>

            На зиму бурундуки впадают в спячку. Они просыпаются среди зимы,
            подкрепляются немного, а затем снова засыпают. Во время спячки
            бурундук лежит, свернувшись клубком.

            Весной выходят из нор в разное время, смотря по тому, какая стоит
            погода. Те, у которых норы устроены на солнечном склоне и раньше
            освобождаются из-под снега, появляются раньше других. Если после
            тёплой погоды вновь холодает, бурундуки вновь уходят в норки и ждут
            потепления. Если в кладовых ещё сохранились запасы, то они поедают
            их.

            В жаркие летние дни бурундуки выходят из норок очень рано, ещё до
            восхода солнца, и ищут корм до наступления сильной жары. Под вечер,
            когда жар спадёт, они выходят снова и остаются на поверхности уже
            до заката солнца. В густом тенистом лесу, где особенной жары не
            бывает, зверьки не прячутся целый день. В дождливую погоду
            пережидают в норах. 

          </div>
        </div>
      </div>

      <div class="right">

        <form id="loginform">
          <h2>Регистрация</h2>
          <div class="inputs">
            <label>Логин:</label>
            <input required type="text">
            <label>Пароль:</label>
            <input required type="password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[-_!]).{5,}"> 
            <input type="submit" value="Зарегистрироваться">
            <input type="reset" value="Очистить">
          </div>
        </form>

      </div>
    </div>
  
  </div>

  <footer class="footer">
    <a target="_blank" href="https://ru.wikipedia.org/wiki/%D0%91%D1%83%D1%80%D1%83%D0%BD%D0%B4%D1%83%D0%BA%D0%B8">Оригинальная статья про бурундучков на Википедии</a>
  </footer>

</body>
</html>
